@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #f3f3f3;
    font-family: 'GmarketSansBold';
    align-items: center;
    align-content: center;
}
.center-box {
    margin: 150px auto;
    width: 600px;
    box-shadow: -2px 2px 2px gray;
    border-style: none;
    border-radius: 8px;
    vertical-align: center;
    background-color: rgb(255, 255, 255);
}
.sm-logo {
    margin: 40px 0px 20px 0px;
}
.login-box {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:#eaf0fc;
}
.login-btn {
    background-color: #252f77;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    margin: 4px 20px;
    cursor: pointer;
    height: 100px;
    font-family: 'GmarketSansBold';
    font-size: 18px;
}
.outer-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom-msg {
    
}