@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #f3f3f3;
    align-items: center;
    align-content: center;
}

.top-img {
    height: 48px;
    margin-top: 8px;
}

header {
    height: 20px;
    padding: 1rem;
    color: white;
    background: #0A2E82;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;

/* 생략 */
}

span {
    color: rgb(197, 197, 197);
    font-size: 14px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
  }

.back-main{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

/* a:link { color: white; text-decoration: none;}	 */
/* visited - 한번 클릭하거나 전에 클릭한적 있을 경우 0*/
/* a:visited { color: white; text-decoration: none;}	 */
/* hover - 마우스를 해당 링크에 위치했을 경우*/
/* a:hover { color: white; text-decoration: none;} */